body {
    font-size: $base-font-size;
    color: $base-font-color;
    font-weight: $base-font-weight;
    font-family: $base-font-family;
    -moz-osx-font-smoothing: grayscale;
    &.page {
        background-color: $white;
        background-repeat: repeat;
        @include font-smoothing;
    }
}