h1 {
    font-family: $base-font-serif;
    color: $color-primary;
    font-size: $h1-size;
    font-weight: 400;    
    line-height: 1.53;
    margin-bottom: 0.6em;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

h2 {
    font-family: $base-font-serif;
    color: $color-primary;
    font-size: $h2-size;
    font-weight: 400;    
    line-height: 1.53;
    margin-bottom: 0.6em;
    //letter-spacing: 0.3rem;
    //text-transform: uppercase;
}

h3 {
    font-family: $base-font-serif;
    color: $color-primary;
    font-size: $h3-size;
    font-weight: 400;    
    line-height: 1.5;
    margin-bottom: 0.6em;
    //letter-spacing: 0.3rem;
    //text-transform: uppercase;
}

h4 {
    font-family: $base-font-sans-serif;
    color: $color-primary;
    font-size: $h4-size;
    font-weight: 600;    
    line-height: 1.62;
    margin-bottom: 0.6em;
    //letter-spacing: 0.3rem;
    //text-transform: uppercase;
}

h5 {
    font-family: $base-font-sans-serif;
    color: #444444;
    font-size: $h5-size;
    font-weight: 200;    
    line-height: 1.375;
    margin-bottom: 0.6em;
    //letter-spacing: 0.3rem;
    //text-transform: uppercase;
}

h6 {
    font-family: $base-font-sans-serif;
    color: $color-primary;
    font-size: $h6-size;
    font-weight: 500;    
    line-height: 1.1;
    margin-bottom: 0.6em;
    //letter-spacing: 0.3rem;
    //text-transform: uppercase;
}

p {
    margin: 0;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $base-font-color;
    letter-spacing: $base-font-letter-spacing;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
}